<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome</title>
    <link rel="icon" href="http://www.scichina.com/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/screen.css" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="css/print.css" type="text/css"
          media="print"/>
    <link rel="stylesheet" href="css/body.css" type="text/css" media="screen"
          charset="utf-8"/>
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css"
          charset="utf-8"/>
    <link rel="stylesheet" href="css/site.css" type="text/css" media="screen"
          charset="utf-8"/>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://libs.baidu.com/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body id="homepage">

<div id="maincontainer" class="">
    <div id="topnavcontainerwrapper">
        <div id="topnavcontainer">
            <div id="searchBox">
                <form id="global-search-form" action="#">
                    <div class="searchDiv">
                        <input id="quickSearchBox"
                               class="std-search-box searchcomplete defaultTerm ui-autocomplete-input" name="value1"
                               value="Search SciChina" type="text"/>
                        <input id="searchbutton" alt="Search" title="Search"
                               src="http://scitation.aip.org/images/aip/magnifyglass.gif" type="image"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="container" class="container">
        <div id="containerwrapper">
            <div id="header">
                <div id="banner">
                    <h1 id="logo"><a href="#"
                                     title="Link to home page" id="homepagelink"><img
                            src="images/aip/aip_logo_transparent.gif" alt="SciChina"/></a></h1>

                    <div id="navbar">
                        <ul>
                            <li id="aip_publishers"><a
                                    href="#" title="Link to Publishers page" id="nav-publishers"><span>Publishers</span></a>
                                <span class="navChevron" title="View Publishers List"><!-- <img src="/images/aip/down_arrow_mainnav.png" alt="mega drop down" id="publisherdropdown" /> --></span>
                            </li>
                            <li id="aip_publications"><a
                                    href="#" title="Link to Publications page"
                                    id="nav-publications"><span>Publications</span></a></li>
                            <li id="aip_topics"><a
                                    href="#" title="Link to Topics page" id="nav-topics"><span>Topics</span></a></li>
                            <li id="aip_collections" class="lessRightPadding"><a
                                    href="#" title="Link to Collections page"
                                    id="nav-collections"><span>Collections</span></a>
                            </li>
                            <li class="lessRightPadding"><span class="mainNavSeparator">|</span></li>
                            <li id="aip_librarians"><a
                                    href="#" title="Link to Librarians page" id="nav-librarians"><span>Librarians</span></a>
                            </li>
                            <li id="aip_authors"><a
                                    href="#" title="Link to Authors page" id="nav-authors"><span>Authors</span></a></li>
                        </ul>
                        <div id="megamenu_pub" class="megamenu">
                            <div class="megamenu-list megamenu-column">
                                <ul>
                                    <li>
                                        <a href="http://scitation.aip.org/content/aip;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to AIP Publishing">AIP Publishing</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/avs;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to AVS: Science &amp; Technology of Materials, Interfaces, and Processing">AVS:
                                            Science &amp; Technology of Materials, Interfaces, and Processing</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/asa;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to Acoustical Society of America">Acoustical Society of
                                            America</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/aapm;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to American Association of Physicists in Medicine">American
                                            Association of Physicists in Medicine</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/aapt;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to American Association of Physics Teachers">American Association
                                            of Physics Teachers</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/aca;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to American Crystallographic Association, Inc.">American
                                            Crystallographic Association, Inc.</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/cps;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to Chinese Physical Society">Chinese Physical Society</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/cstam;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to Chinese Society of Theoretical and Applied Mechanics">Chinese
                                            Society of Theoretical and Applied Mechanics</a></li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/lia;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to Laser Institute of America">Laser Institute of America</a>
                                    </li>
                                    <li>
                                        <a href="http://scitation.aip.org/content/sor;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                                           title="Link to The Society of Rheology">The Society of Rheology</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar_right" class="sidebar span-5 last ">
                <div id="loginBox">
                    <ul class="flat navigation">
                        <li class="item-signin">
                            <a href="#" class="signinlink toolsprite signin chevron down"><span
                                    class="signin_text">Sign in </span>
                                <img src="http://scitation.aip.org/images/aip/chevron_down.gif"/></a>
                        </li>
                        <li class="item-signin-institution">
                            <a href="#"
                               class="loginregisterlink toolsprite signin-institution">Sign in <em>via</em>
                                ScholarOne</a>
                                        <span class="menutext greyText">
                                        </span>
                        </li>
                        <li class="item-signin-institution">
                            <a href="#"
                               class="loginregisterlink toolsprite signin-institution">Sign in <em>via</em>
                                协同编辑</a>
                                        <span class="menutext greyText">
                                        </span>
                        </li>
                        <li class="item-register">
                            <a href="http://scitation.aip.org/registration/personal;jsessionid=3i97c5lwamj6c.x-aip-live-06"
                               title="Link to register" class="toolsprite register">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="advertscontainer">
                    <div style="display: block;" id="OAS_Right1" class="advert advertRight1"><a
                            href="http://oascentral.aip.org/RealMedia/ads/click_nx.ads/scitation.aip.org/1118788259@Right1,Right2,Right3%21Right1?"></a>
                    </div>
                    <div style="display: block;" id="OAS_Right2" class="advert advertRight2"><a
                            href="http://oascentral.aip.org/RealMedia/ads/click_nx.ads/scitation.aip.org/1118788259@Right1,Right2,Right3%21Right2?"></a>
                    </div>
                    <div style="display: block;" id="OAS_Right3" class="advert advertRight3"><a
                            href="http://oascentral.aip.org/RealMedia/ads/click_nx.ads/scitation.aip.org/1118788259@Right1,Right2,Right3%21Right3?"></a>
                    </div>
                </div>
            </div>
            <div id="content" class="content homecontent">
                <div id="breadcrumb">
                </div>
                <blockquote>
                    <p><strong>SciChina</strong> is the online home of leading journals and conference proceedings from
                        AIP Publishing and AIP Member Societies</p>
                </blockquote>
                <div class="cyclenavcontainer">
                    <ul id="slideshow">
                        <li><img src="http://scitation.aip.org/upload/Scitation/images/perovskites.jpg"
                                 class="homeimage activeImage"/>
                        </li>
                    </ul>
                    <ul id="cyclenav">
                        <li class="activeText"><p><strong>Can Perovskites and Silicon Team Up to Boost Industrial Solar
                            Cell Efficiencies?</strong><br/>
                            <a href="https://publishing.aip.org/publishing/journal-highlights/can-perovskites-and-silicon-team-boost-industrial-solar-cell?TRACK=Gallery"
                               style="font-size:small; line-height:120%">By
                                developing a way to stack perovskites atop conventional silicon solar
                                cells, a team of MIT and Stanford researchers create “tandem”
                                photovoltaics that may give a boost to traditional silicon solar cells
                            </a></p>
                        </li>
                    </ul>
                </div>

                <div class="mostcontainer">
                    <div class="mostrecentarticles">
                        <h3>
                            Most recent articles
                            <span class="rssicon">
                            <a href="http://scitation.aip.org/rss/content/all/most_recent_items;jsessionid=3i97c5lwamj6c.x-aip-live-06?fmt=rss"
                               title="Subscribe to RSS" class="rssiconheader toolsprite rssFeed externallink"></a>
                            </span>
                        </h3>

                        <div id="mostrecentitems">
                            MostRecentArticlesGoHere
                            <a href="#" title=""
                               class="moreLink std-display"><img
                                    src="http://scitation.aip.org/images/aip/plus_icon.gif" alt="+"/> More</a>
                            <a href="#" title=""
                               class="lessLink std-display"><img
                                    src="http://scitation.aip.org/images/aip/minus_icon.gif" alt="-"/> Less</a>
                        </div>
                    </div>
                    <div class="rightsidecontainer">
                        <div class="mostread">
                            <h3>
                                MostReadArticlesGoHere
                            <span class="rssicon">
                            <a href="http://scitation.aip.org/mostviewed/rss.action;jsessionid=3i97c5lwamj6c.x-aip-live-06?number=10&amp;numberShown=10&amp;parent=&amp;parentType=&amp;type=Content&amp;content=AIP%7CScitation&amp;fmt=rss"
                               title="Subscribe to RSS" class="rssiconheader toolsprite rssFeed externallink"></a>
                            </span>
                            </h3>

                            <div id="hiddenmostviewedtype" class="hiddenjsdiv">Content</div>
                            <div id="mostviewed">
                                MostViewedArticlesGoHere
                                <a href="#" title="" class="moreLink std-display"><img
                                        src="http://scitation.aip.org/images/aip/plus_icon.gif" alt="+"/> More</a>
                                <a href="#" title="" class="lessLink std-display"><img
                                        src="http://scitation.aip.org/images/aip/minus_icon.gif" alt="-"/> Less</a>
                            </div>

                            <div id="hiddenmostviewedparent" class="hiddenjsdiv"></div>
                            <div id="hiddenmostviewedparenttype" class="hiddenjsdiv"></div>
                            <div id="hiddenmostviewednumber" class="hiddenjsdiv">10</div>
                            <div id="hiddenmostviewednumbershown" class="hiddenjsdiv">5</div>

                        </div>
                        <div class="mostcited">
                            <h3>
                                Most cited
                                <span class="rssicon">
                                <a href="http://scitation.aip.org/rss/content/all/latest;jsessionid=3i97c5lwamj6c.x-aip-live-06?fmt=rss"
                                   title="Subscribe to RSS" class="rssiconheader toolsprite rssFeed externallink"></a>
                                </span>
                            </h3>

                            <div id="mostcited">
                                MostCitedArticlesGoHere
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subjectscontainer">
                    <h3>Topics</h3>
                    <ul class="flat leftbox">
                        <li>
                            <a href="#"
                               title="">Acoustics</a></li>
                        <li>
                            <a href="#" title="">Astronomy and astrophysics</a></li>
                        <li>
                            <a href="#" title="">Atomic and molecular physics</a></li>
                        <li>
                            <a href="#" title="">Biological physics</a></li>
                        <li>
                            <a href="#" title="">Condensed matter physics</a></li>
                        <li>
                            <a href="#" title="">Energy</a></li>
                        <li>
                            <a href="#" title="">General physics</a></li>
                    </ul>
                    <ul class="flat middlebox">
                        <li>
                            <a href="#" title="">Geophysics</a></li>
                        <li>
                            <a href="#" title="">Interdisciplinary physics</a></li>
                        <li>
                            <a href="#" title="">Materials science</a></li>
                        <li>
                            <a href="#" title="">Mathematical physics</a></li>
                        <li>
                            <a href="#" title="">Nanotechnology</a></li>
                        <li>
                            <a href="#" title="">Nuclear physics</a></li>
                        <li>
                            <a href="#" title="">Optics and optical physics</a></li>
                    </ul>
                    <ul class="flat rightbox">
                        <li>
                            <a href="#" title="">Particle physics</a></li>
                        <li>
                            <a href="#" title="">Physical chemistry</a></li>
                        <li>
                            <a href="#" title="">Plasma physics</a></li>
                        <li>
                            <a href="#" title="">Quantum mechanics</a></li>
                        <li>
                            <a href="#" title="">Rheology and fluid dynamics</a></li>
                        <li>
                            <a href="#" title="">Society and organization</a></li>
                        <li>
                            <a href="#" title="">Statistical physics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="bottomnavcontainer">
        <div id="footerinclude">
            <div id="footercontainerwrapper">
                <div id="footer" class="footersiteguide footernav">
                    <div class="footerlinklist">
                        <span class="footerlink"><a
                                href="#"
                                title="Link to terms and conditions page"
                                id="nav-tandc"><span>Terms &amp; conditions</span></a></span>
                        <span class="footerlink"><a
                                href="#" title="Link to privacy page" id="nav-privacy"><span>Privacy</span></a></span>
                        <span class="footerlink"><a
                                href="#" title="Link to advertising page"
                                id="nav-advertisers"><span>Advertising</span></a></span>
                        <span class="footerlink"><a
                                href="#" title="Link to help page" id="nav-help"><span>Help</span></a></span>
                        <span class="footerlink"><a
                                href="#" title="Link to contact page" id="nav-contact"><span>Contacts</span></a></span>
                    </div>
                    <div class="socialbookmarks">
                        <span class="label">Follow AIPP:</span>
                        <span class="sociallink"><a href="#"
                                                    title="Link to AIP Twitter page" id="nav-twitter"
                                                    class="externallink"><img
                                src="http://scitation.aip.org/images/aip/icon_17x17_twitter.png"
                                alt="Twitter page"/></a></span>
                        <span class="sociallink"><a href="#"
                                                    title="Link to AIP Facebook page" id="nav-facebook"
                                                    class="externallink"><img
                                src="http://scitation.aip.org/images/aip/icon_17x17_facebook.png" alt="Facebook page"/></a></span>
                        <span class="sociallink"><a href="#"
                                                    title="Link to AIP Flickr page" id="nav-flickr"
                                                    class="externallink"><img
                                src="http://scitation.aip.org/images/aip/icon_17x17_flickr.png" alt="Flickr page"/></a></span>
                    </div>
                    <div class="copyrightnotice">
                        <p>Website © 2015 Article
                            copyright remains as specified within the article.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>